<h2 class="mb-5">
   @if(contact){
      Editar
   } @else{
     Nuevo
   } contacto
</h2>

<div class="row row-cols-3 justify-content-center">
  @if(form){
      <div>
        @if(errors.length){
          <div class="alert alert-danger">
            <p>Ha sucedido los siguientes errores</p>
            <ul>
              @for(error of errors; track error){
                 <li>{{ error }}</li>
              }
            </ul>
        </div>
        }

      <form [formGroup] ="form" (ngSubmit)="save()">
      <div class="mb-3">
          <label for="name">Nombre</label>
          <input id="name" type="text" placeholder="Nombre" class="form-control"
            formControlName="name" >

           @if(form.get('name')?.hasError('required') && form.get('name')?.touched){
             <p class="invalid-feedback d-block">El nombre es obligatorio</p>
           }

      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" class="form-control"
        formControlName="email">
        @if(form.get('email')?.hasError('required') && form.get('name')?.touched){
          <p class="invalid-feedback d-block">El email es obligatorio</p>
        }

        @if(form.get('email')?.hasError('email') && form.get('email')?.touched){
          <p class="invalid-feedback d-block">El email es inválido</p>
        }
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-light"  routerLink="/">
          Cancelar
    </button>

      <button class="btn btn-primary ms-2">
        @if(contact){
          Actualizar
       } @else{
         Crear
       } contacto
    </button>
    </div>


    </form>
      </div>
  }


</div>

